.signup{
    width: 50%;
    height: 70%;
    margin: auto;
    margin-top: 50px;
}

.container{
    width: 70%;
    margin: auto;
    background-color: whitesmoke;
    text-align: center;
    text-align: center;
    padding: 20px 0;
    border-radius: 10px;
}

input, label{
    margin: 10px;
}

button{
    width: max-content;
    margin: auto;
    margin-top: 10px;
}