.signup{
    width: 50%;
    height: 70%;
    margin: auto;
    margin-top: 20px;
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 20px;
}

.container{
    width: 70%;
    margin: auto;
    text-align: center;
}

input, label{
    margin: 10px;
}

button{
    width: 20%;
    margin: auto;
}