nav{
    background-color: whitesmoke;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.nav-log{
    display: flex;
    width: 10%;
    justify-content: space-around;
}

h1{
    margin: 0;
    padding: 0;
}