.output{
    width: 90%;
    margin: auto;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    background-color: rgb(232, 232, 247);
}

.output-box{
    width: 90%;
    height: 40px;
    margin: auto;
    padding: 10px;
    font-size: 1.5em;
    background-color: rgb(203, 241, 203);
}

.output p{
    background-color: rgb(9, 230, 93);
    padding: 10px;
}