.input{
    width: 90%;
    margin: auto;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    background-color: rgb(232, 232, 247);
}

.text-box{
    width: 80%;
    height: 40px;
    margin: auto;
    padding-left: 20px;
    font-size: 1.5em;
}

.input p{
    background-color: orange;
    padding: 10px;
}

#send-button{
    width: 10%;
    height: 40px;
    margin: auto;
    color: white;
    background-color: rgb(61, 61, 165);
    border-radius: 5px;
    cursor: pointer;
    border: none;
}