body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Arial, Verdana, sans-serif;
}

.intro-section {
  background-color: #3498db;
  color: #ffffff;
  text-align: center;
  padding: 60px 60px;
}

.intro-section h1 {
  font-size: 3em;
}

.intro-section p {
  font-size: 1.3em;
}

.app-logo {
  max-width: 50%;
}

button{
  box-shadow: 0.5em 0.5em 0.5em rgba(0, 0, 0, 0.3);
  font-size: 1em;
  font-family: 'Segoe UI', Tahoma, Arial, Verdana, sans-serif;;
}

.feature-section {
  background-color: #ff8800;
  color: #ffffff;
  padding: 30px 0;
  text-align: center;
}

.feature-steps {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.feature-section h2{
  font-size: 2.3em;
  margin-top: 0;
}

.feature-step {
  text-align: center;
  width: 30%;
  margin: 10px;
  font-size: 1.3em;
  background-color: rgb(229, 229, 248);
  color: black;
  padding: 20px;
  border-radius: 0 15px 0 15px;
}

.our-team-section {
  background-color: #3498db;
  color: #ffffff;
  padding: 30px 0;
  text-align: center;
}

.our-team-section h2{
  font-size: 2.3em;
  margin-top: 0;
}

.our-team-section h3{
  font-size: 1.5em;
  margin: 0;
}
.our-team-section p{
  font-size: 1.3em;
  margin-top: 0;
}

.social-media-links{
  background-color: #ffffff;
  padding: 10px;
}

.social-media-links a{
  margin: 20px;
}

.team-member-image {
  max-width: 50%;
  border-radius: 50%;
}

.footer {
  background-color: #ff8800;
  color: #ffffff;
  text-align: center;
  padding: 20px 0;
}