.main {
    width: 100%;
    text-align: left;
  }
  
  .main h2 {
    font-size: 3em;
  }
  
  .main p {
    font-size: 1.5em;
  }
  
  .main button {
    width: max-content;
    height: max-content;
    color: white;
    background-color: rgb(61, 61, 165);
    font-size: 1.5em;
    padding: 10px 20px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .logo {
    background: rgb(255, 255, 255);
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 1) 15%,
      rgba(221, 140, 47, 1) 45%,
      rgba(51, 107, 201, 1) 55%,
      rgba(255, 255, 255, 1) 85%
    );
  }
  
  .features {
    text-align: center;
    margin: 40px auto;
    background-color: rgb(232, 232, 247);
    width: 90%;
    padding: 20px;
  }
  
  .features h2 {
    font-size: 2.5em;
    color: blue;
  }

  
  .processes p {
    font-size: 1.2em;
  }
  
  #our-team {
    width: 90%;
    margin: 40px auto;
    background-color: rgb(232, 232, 247);
    text-align: center;
  }
  
  .our-team--container {
    width: 60%;
    margin: auto;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .our-team--container h2 {
    font-size: 2.5em;
  }
  
  .member-details {
    margin: 0;
    padding: 0;
  }
  
  .member-details h3 {
    font-size: 2em;
    margin: 0;
    padding: 0;
  }
  
  .member-details p {
    font-size: 1.3em;
    margin: 0;
    padding: 0;
  }
  
  .social-media-links {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 20px auto;
  }
  
  .social-media-links a {
    margin: 0 10px;
  }
  
  .social-media-links img {
    width: 40px;
    height: 40px;
  }
  
  footer {
    text-align: center;
    border-top: solid rgb(110, 104, 104) 2px;
    color: rgb(110, 104, 104);
  }
  
  .copyright p {
    font-size: 1em;
  }
  
  @media (max-width: 768px) {
    .main-container {
      flex-direction: column;
      align-items: center;
      gap: 20px;
      text-align: center;
    }
  
    .text, .logo {
      width: 90%;
      text-align: center;
    }
  
    .features {
      margin: 20px auto;
      padding: 10px;
    }
  
    .features h2 {
      font-size: 2em;
    }

    .processes{
        display: block;
    }
  
    .processes div {
      width: 100%;
    }

    .card{
        width: 80%;
        margin: auto;
    }
  
    #our-team .our-team--container {
      width: 80%;
      margin: auto;
    }
  
    .our-team--container h2 {
      font-size: 2em;
    }
  
    .member-details h3 {
      font-size: 1.3em;
    }
  
    .member-details p {
      font-size: 1em;
    }
  
    .social-media-links img {
      width: 30px;
      height: 30px;
      margin: auto;
    }
  }
  